{
	"env": {
		"browser": true,
		"es6": true
	},
	"ignorePatterns": ["config/", "build/"],
	"root": true,
	"extends": ["eslint:recommended", "plugin:vue/essential", "plugin:@typescript-eslint/eslint-recommended"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly",
		"require": true,
		"process": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"plugins": ["vue", "@typescript-eslint"],
	"rules": {
		"vue/html-self-closing": [
			"error",
			{
				"html": {
					"void": "any",
					"normal": "any",
					"component": "always"
				}
			}
		],
		"no-control-regex": "warn",
		"no-useless-escape": "warn",
		"prefer-const": ["error"],
		"no-var": ["error"],
		"no-alert": "error",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"args": "after-used",
				"argsIgnorePattern": "^_",
				"ignoreRestSiblings": true,
				"caughtErrorsIgnorePattern": "^ignore"
			}
		],
		"semi": ["error", "always"],
		"no-mixed-spaces-and-tabs": "off",
		"object-shorthand": ["error", "always"]
	}
}
