@import 'settings.scss';

/* quicksand-300 - latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/quicksand-v21-latin-300.eot');
	/* IE9 Compat Modes */
	src: local(''), url('../fonts/quicksand-v21-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/quicksand-v21-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/quicksand-v21-latin-300.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/quicksand-v21-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/quicksand-v21-latin-300.svg#Quicksand') format('svg');
	/* Legacy iOS */
}

/* quicksand-regular - latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/quicksand-v21-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''), url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/quicksand-v21-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg');
	/* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	background-color: $yellow;
}

.container-xlarge {
	max-width: $xlarge;
}

.container-large {
	max-width: $large;
}

.container-xlarge,
.container-large {
	margin-right: auto;
	margin-left: auto;
}
